<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <nav>
        <header>
            <p>
              Clique
              <a href="{% url 'index' %}">
                aqui
              </a>
              para voltar ao início
            </p>
        </header>
      </nav>
      <center>
        <div>
          <h3> Produto {{ produto.id }} </h3>
        </div>
        <div>
          <table>
              <thead>
                  <th> Descrição </th>
                  <th> Preço </th>
                  <th> Quantidade </th>
              </thead>

              <tbody>
                <tr>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </center>
  </body>
</html>
