{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
        <div>
          <h2> {{ message }} </h2>
          <img src="{% static 'images/django.png' %}" alt="Django Framework">
        </div>
        <div>
            <table>
                <thead>
                    <th> Descrição </th>
                    <th> Preço </th>
                    <th> Quantidade </th>
                </thead>

                <tbody>
                  {% for product in products %}
                    <tr>
                      <td>
                        <a href="{% url 'produto_detalhe' product.id %}" target="_blank">
                          {{ product.descricao }}
                        </a>
                      </td>
                      <td>{{ product.preco }}</td>
                      <td>{{ product.quantidade }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </center>
  </body>
</html>
